* {
    --font-family-sans-serif: "Open Sans",
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    font-family: sans-serif;
}

body {
    position: relative;
        margin: 0;
        font-family: "Open Sans", "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        color: #373636;
    
       
        
    }
    
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.login {
    
    background-image: linear-gradient(135deg, #63b7ee 20%, #6365a5 100%);
    padding: 2rem;
    border-radius: 1rem;
    color: #333;
    

}

label {
    display: block;
    font-size: 1rem;
    
}

button {
    background: linear-gradient(to right, #eaafc8, #654ea3);
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 1.3rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    transition: ease-out 0.5s;
    cursor: pointer;

}

input {
    background-color:  #654ea3;
    opacity: 50%;
    border: none;
    border-radius: .2rem;
    background-color: #c9bec3;

}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dashboard{
 
    /* min-height: 100vh; */

    display: flex;
    flex-direction: column;
 box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;
}



.orders{
     background-color: #0066aa;
}

.workers{
   
    background-color: #654ea3;
}



th{
    border: #333 solid .1rem;
}
td{
    border: #333 solid .05rem;
}

header{
    display: flex;
    

}

/* div{
    display: inline;
    flex-direction: row;
    flex: 1 1 200px;
} */






.parent {
    display: grid;
    grid-template-columns: 1fr 3fr;
   
   
    }
  

   
.subdetails{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
  
.navigation{
  
border-radius: 1.5rem;
    background: linear-gradient(to bottom, #5da1bc, #75a591); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
 
}  
  


span{
    display: block;
    color: #333;
    font-size: 1rem;
    border-radius: 1.5rem;
    margin: 1rem;
    padding: 1rem;

    cursor: pointer;
    background-image: linear-gradient(135deg, #63b7ee 20%, #6365a5 100%);
}
span:hover{
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);    
    transition: 1s;
}


.Modules{
    
        padding: 2.5rem 2rem;
        border-radius: 1rem;
        background-color: #8BC6EC;
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
        box-shadow: 0 0 30px rgba(0, 0, 0, .15);
        margin: 1rem;
        animation: fadeIn 1.4s;
        z-index: 1;
        align-items: center;
        justify-content: center;
    
}

.addnew {
    cursor: pointer;
    float: right;
    padding: 1rem;
    border-radius: 0.4rem;
    color: black;
    background: rgba(0, 185, 255, 1);
}

.addnew:hover {
    cursor: pointer;
    background: rgb(27, 71, 88);
    transition: 200ms;
}



form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
}


table{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

  
}

  th{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;
    background-color: #ACB6E5;
    
  }

 